<!DOCTYPE html>
<html>
<head> 
<meta charset="utf-8"> 
<title>miniweb</title>
<link rel="stylesheet" href="/assets/mini.css">
<script type="text/javascript" src="/assets/mini.js"></script>
</head>
<body>
<h1>miniweb</h1>
<p>miniweb template test</p>
</body>
</html>